@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Use a flex container to structure your main content and footer */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 72vh; /* Use viewport height to ensure full screen coverage */
}

/* Your main content should expand as needed */
.main-content {
  flex: 1;
}
